---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: python
    tag: latest

inputs:
- name: source-code

run:
  user: root
  path: ../scripts/sample_script.sh
  dir: rootDir